<div class="row">
  <div class="col-12">
    <div class="card card-default">
      <div class="card-header card-header-border-bottom d-flex justify-content-between">
        <h2>Total Register Users</h2>
        <a href="#" target="_blank" class="btn btn-outline-primary btn-sm text-uppercase">
          <i class=" mdi mdi-link mr-1"></i> Docs
        </a>
      </div>
      <div class="card-body">
        <div class="responsive-data-table">
          <table id="responsive-data-table" class="table dt-responsive nowrap" style="width:100%">
            <thead>
              <tr>
                <th>Full name</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Varified</th>
                <th>Edit</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Tiger</td>
                <td>Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>