<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/front-inc/head.ejs') %>

  <body>
    <!-- include header or navbar -->
    <%- include('../partials/front-inc/nav.ejs') %>
      <!-- page title -->
      <section class="page-title-section overlay" data-background="images/backgrounds/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="list-inline custom-breadcrumb mb-2">
                <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/">Home</a></li>
                <li class="list-inline-item text-white h3 font-secondary nasted">About Us</li>
              </ul>
              <p class="text-lighten mb-0">University of South Asia is driven by a shared resolve to make this world in
                general and Pakistan in particular a better place through education, research, and innovation.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- page title end -->
      <!-- about -->
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="img-fluid w-100 mb-4" src="images/about/about-1.jpg" alt="about image">
              <h2 class="section-title">ABOUT OUR USA</h2>
              <p>University of South Asia is driven by a shared resolve to make this world in general and Pakistan in
                particular a better place through education, research, and innovation. We are exciting and eccentric,
                superlative but not discriminative, creative and imaginative, contemporary and competitive, memorable
                but not unnoticeable, obsessed with impact, concerned about outreach, and convivial to talented people
                regardless of their background, origin, color, race, beliefs, and nationality.</p>
              <p>When Computer Studies were alien to educational landscape in Pakistan, National College of Computer
                Sciences (NCCS) was founded by Mr. Mahmood Sadiq in 1987 with an aim to equip Pakistani youth with
                modern skills. The visualization behind NCCS was to safeguard the instrumentality of education for
                personality transformation of students along with their social well-being and privileged living after
                the completion of studies. Today, NCCS has taken the shape of University of South Asia (USA) after a
                rigorous but remarkable journey of historical transition.</p>
              <P>University of South Asia is a project of Gateway Technologies (Pvt.) Limited</P>
            </div>
          </div>
        </div>
      </section>
      <!-- about end -->
      <!-- funfacts -->
      <section class="section-sm bg-primary">
        <div class="container">
          <div class="row">
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
              <div class="text-center">
                <h2 class="count text-white" data-count="60">0</h2>
                <h5 class="text-white">TEACHERS</h5>
              </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
              <div class="text-center">
                <h2 class="count text-white" data-count="50">0</h2>
                <h5 class="text-white">COURSES</h5>
              </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
              <div class="text-center">
                <h2 class="count text-white" data-count="1000">0</h2>
                <h5 class="text-white">STUDENTS</h5>
              </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
              <div class="text-center">
                <h2 class="count text-white" data-count="7777">0</h2>
                <h5 class="text-white">SATISFIED CLIENT</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- funfacts end -->
      <!-- message -->
      <section class="section bg-cover" data-background="images/backgrounds/success-story.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
              <a class="play-btn venobox" href="https://www.youtube.com/@UniversityofSouthAsiaOfficial"
                data-vbtype="video">
                <i class="ti-control-play"></i>
              </a>
            </div>
            <div class="col-lg-6 col-sm-8">
              <div class="bg-white p-5">
                <h2 class="section-title">Message</h2>
                <p>The University of South Asia (USA), operating as chartered institution has been imparting quality
                  education for the last sixteen years in the private sector. Along with providing higher education in
                  market-competitive disciplines at par with any international University, the USA also endeavors to
                  inculcate rich values and principles in its students. University offers a range of varied programs
                  linked with Higher Education Commission’s guidelines and policies and are adaptively responsive to the
                  latest developments in industry standards, technologies and pedagogy to inspire young generation to
                  learn, conduct research and ultimately be able to contribute to socio-economic development.
                  Professionally qualified teaching staff, commitment to quality, academic standards and
                  state-of-the-art infrastructure, serve to ensure that USA graduates will contribute to the future of
                  Pakistan as inspired and motivated citizens.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- message end -->
      <!-- higher management -->
      <section class="section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="section-title">Higher Management</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-0 rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/about/vice-chancellor.png" alt="teacher">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">IMRAN MASOOD</h4>
                  </a>
                  <div class="d-flex justify-content-between">
                    <span>Vice Chancellor</span>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a class="text-color" href="https://facebook.com"><i
                            class="ti-facebook"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://twitter.com"><i
                            class="ti-twitter-alt"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://github.com"><i
                            class="ti-google"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://instagram.com"><i
                            class="ti-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-0 rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/about/chairman.png" alt="teacher">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">MAHMOOD SADIQ</h4>
                  </a>
                  <div class="d-flex justify-content-between">
                    <span>Chairman</span>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a class="text-color" href="https://facebook.com"><i
                            class="ti-facebook"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://twitter.com"><i
                            class="ti-twitter-alt"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://github.com"><i
                            class="ti-google"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://instagram.com"><i
                            class="ti-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-0 rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/about/vice-chairperson.png" alt="teacher">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">HINA SADIQ</h4>
                  </a>
                  <div class="d-flex justify-content-between">
                    <span>Vice Chairperson</span>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a class="text-color" href="https://facebook.com"><i
                            class="ti-facebook"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://twitter.com"><i
                            class="ti-twitter-alt"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://github.com"><i
                            class="ti-google"></i></a></li>
                      <li class="list-inline-item"><a class="text-color" href="https://instagram.com"><i
                            class="ti-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- higher managemet end -->
      <!-- include footer  -->
      <%- include('../partials/front-inc/footer.ejs') %>
  </body>

</html>