<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/front-inc/head.ejs') %>

  <body>
    <!-- include header or navbar -->
    <%- include('../partials/front-inc/nav.ejs') %>
      <!-- page title -->
      <section class="page-title-section overlay" data-background="images/backgrounds/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="list-inline custom-breadcrumb mb-2">
                <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/">Home</a></li>
                <li class="list-inline-item text-white h3 font-secondary nasted">Contact Us</li>
              </ul>
              <p class="text-lighten mb-0">Find contact details including the main campus and sub-campus postal address,
                email address and telephone number</p>
            </div>
          </div>
        </div>
      </section>
      <!-- page title end -->
      <!-- map -->
      <section class="section c-height">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card pb-2 border-primary rounded-0 hover-shadow h-100">
                <iframe class="card-img-top rounded-0 h-100"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.6083820429367!2d74.22893821545712!3d31.424914158992998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391901cfc0790017%3A0xae60c842421f7a95!2sUniversity%20of%20South%20Asia!5e0!3m2!1sen!2s!4v1647943027566!5m2!1sen!2s"
                  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="bg-primary py-4 card-body">
                <div class="cantt-campus text-center text-white">
                  <h2 class="h4 mb-3"><u>Raiwind Road Campus</u></h2>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/call.svg" class="me-2">
                    <a href="tel:+924235230722" class="text-white">+924235230722</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/home.svg" class="me-2">
                    <address class="mb-0">
                      5-KM Raiwind Road, Lahore
                    </address>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/email-solid.svg" class="me-2">
                    <a href="mailto:admissions.rwd@usa.edu.pk" class="text-white">
                      admissions.rwd@usa.edu.pk
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card pb-2 border-primary rounded-0 hover-shadow h-100">
                <iframe class="card-img-top rounded-0 h-100"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.2166910097712!2d74.49502651545822!3d31.490727155755508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919099991952113%3A0xbb5cb0e497bbb081!2sUniversity%20of%20South%20Asia%20-%20DHA%20Barki%20Road%20Campus!5e0!3m2!1sen!2s!4v1647943059860!5m2!1sen!2s"
                  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="bg-primary card-body py-4">
                <div class="cantt-campus text-center text-white">
                  <h2 class="h4 mb-3"><u>Barki Campus</u></h2>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/call.svg" class="me-2">
                    <a href="tel:+923117111112" class="text-white">+923117111112</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/home.svg" class="me-2">
                    <address class="mb-0">
                      6-KM Barki Road,DHA Phase VII, Lahore
                    </address>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/email-solid.svg" class="me-2">
                    <a href="mailto:admissions.barki@usa.edu.pk" class="text-white">
                      admissions.barki@usa.edu.pk
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card pb-2 border-primary rounded-0 hover-shadow h-100">
                <iframe class="card-img-top rounded-0 h-100"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54429.58482200999!2d74.36946954152259!3d31.50083268212534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919050d90b4fac3%3A0xa46dbb2def95e45a!2sUniversity%20of%20South%20Asia!5e0!3m2!1sen!2s!4v1647942433780!5m2!1sen!2s"
                  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="bg-primary card-body py-4">
                <div class="cantt-campus text-center text-white">
                  <h2 class="h4 mb-3"><u>Cantt Campus</u></h2>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/call.svg" class="me-2">
                    <a href="tel:+923117111112" class="text-white">+923117111112</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/home.svg" class="me-2">
                    <address class="mb-0">
                      47 Tufail Road, Cantt Lahore
                    </address>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="https://usa.edu.pk/images/email-solid.svg" class="me-2">
                    <a href="mailto:admissions@usa.edu.pk" class="text-white">
                      admissions@usa.edu.pk
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- map end -->
      <!-- include Footer  -->
      <%- include('../partials/front-inc/footer.ejs') %>
  </body>

</html>