<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/front-inc/head.ejs') %>

  <body>
    <!-- include header and navbar -->
    <%- include('../partials/front-inc/nav.ejs') %>
      <!-- page title -->
      <section class="page-title-section overlay" data-background="images/backgrounds/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="list-inline custom-breadcrumb mb-2">
                <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/">Home</a></li>
                <li class="list-inline-item text-white h3 font-secondary nasted">Our Courses</li>
              </ul>
              <p class="text-lighten mb-0">USA is offering four-year undergraduate BS programs in 2023 in a wide range
                of disciplines. These BS degree programs in 2023 focus on the holistic development of learners and
                endorses a well-rounded curriculum. USA is considered among the top universities of the region for its
                BS degree programs concocted to meet the ever-changing needs of the higher-education milieu of the
                country. BS Admissions for 2023 are open now.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- page title end -->
      <!-- courses -->
      <section class="section">
        <div class="container">
          <!-- course list -->
          <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-5.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Computer Science</h4>
                  </a>
                  <p class="card-text mb-4">Computer science focuses on the development and testing of software and
                    software systems.
                  </p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" height="284.2px" src="images/courses/course-2.jpg"
                  alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Information Technolgy</h4>
                  </a>
                  <p class="card-text mb-4">Information technology is a broad term that involves the use of technology
                    to communicate and transfer data.</p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-6.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Architecture</h4>
                  </a>
                  <p class="card-text mb-4">Architecture, the art and technique of designing and building, from the
                    skills associated with construction.
                  </p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-4.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Complete Freelancing</h4>
                  </a>
                  <p class="card-text mb-4">A freelance computer technician provides computer support to users and
                    organizations.
                  </p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Graphic Design</h4>
                  </a>
                  <p class="card-text mb-4">Graphic design is a profession, academic discipline, visuals and applied
                    art.</p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-3.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Nutrition & Dietetics</h4>
                  </a>
                  <p class="card-text mb-4">Dietitian nutritionists use nutrition and food science to help people
                    improve their health.
                  </p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /course list -->
        </div>
      </section>
      <!-- courses end -->
      <!-- include footer  -->
      <%- include('../partials/front-inc/footer.ejs') %>
  </body>

</html>