<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/front-inc/head.ejs') %>

  <body>
    <!-- include head and nav -->
    <%- include('../partials/front-inc/nav.ejs') %>
      <!-- page title -->
      <section class="page-title-section overlay" data-background="images/backgrounds/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="list-inline custom-breadcrumb mb-2">
                <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/">Home</a></li>
                <li class="list-inline-item text-white h3 font-secondary nasted">Upcoming Events</li>
              </ul>
              <p class="text-lighten mb-0">USA events shape the social and intellectual fabric. They are a great way to
                introduce fresh ideas, opportunities, and products to a new audience. But to draw interest, you’ll need
                to look beyond formal talks and job fairs.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- page title end -->
      <!-- events -->
      <section class="section">
        <div class="container">
          <div class="row">
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-1.jpg" alt="event thumb">
                  <div class="card-date"><span>18</span><br>January</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">International Digital Conference - 2020</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-2.jpg" alt="event thumb">
                  <div class="card-date"><span>21</span><br>January</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">Marketing Strategies During Covid-19</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-3.jpg" alt="event thumb">
                  <div class="card-date"><span>23</span><br>January</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">World Marketing Summit 2020</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-4.jpg" alt="event thumb">
                  <div class="card-date"><span>18</span><br>February</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">4th Convocation University of South Asia 2019</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-5.jpg" alt="event thumb">
                  <div class="card-date"><span>21</span><br>February</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">All Pakistan Food Festival 2019</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-6.jpg" alt="event thumb">
                  <div class="card-date"><span>23</span><br>February</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">All Pakistan Music Festival 2019</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- events end -->
      <!-- include Footer  -->
      <%- include('../partials/front-inc/footer.ejs') %>
  </body>

</html>