<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/front-inc/head.ejs') %>

  <body>
    <!-- include header and nav -->
    <%- include('../partials/front-inc/nav.ejs') %>
      <!-- hero slider -->
      <section class="hero-section overlay bg-cover" data-background="images/backgrounds/page-title.png">
        <div class="container">
          <div class="hero-slider">
            <!-- slider item -->
            <div class="hero-slider-item">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
                    data-animation-in="fadeInLeft" data-delay-in=".1">Your bright future is our mission</h1>
                  <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
                    data-animation-in="fadeInLeft" data-delay-in=".4">
                    University of South Asia’s Quality Enhancement Cell (QEC) is one of the most agile QEC in Pakistan.
                    Our Quality Enhancement Cell is strategically moving forward to induce culture of quality assurance
                    to make University of South Asia, Lahore as one of the best universities of Pakistan where quality
                    is the hallmark of all activities.
                  </p>
                  <a href="/admission" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5"
                    data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
                </div>
              </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3"
                    data-animation-in="fadeInDown" data-delay-in=".1">Your bright future is our mission</h1>
                  <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3"
                    data-animation-in="fadeInDown" data-delay-in=".4">
                    Focused to accelerate nation’s industrial revolution and prepare our graduates to face the
                    challenges of Digital Economy with learning of emerging technologies through modern curriculum in
                    the prevalence of Industry 4.0.
                  </p>
                  <a href="/admission" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5"
                    data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Apply now</a>
                </div>
              </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3"
                    data-animation-in="fadeInUp" data-delay-in=".1">Your bright future is our mission</h1>
                  <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3"
                    data-animation-in="fadeInUp" data-delay-in=".4">
                    State-of-the-Art computing and discipline-specific laboratories, libraries, digital resources,
                    air-conditioned classrooms equipped with audio and visual apparatus, green and beautiful campuses
                    and vivacious campus life full of energy and excitement.
                  </p>
                  <a href="/admission" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5"
                    data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Apply now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- hero slider end -->

      <!-- banner-feature -->
      <section class="bg-gray overflow-md-hidden">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
              <img class="img-fluid w-100" src="images/banner/banner-feature.png" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
              <div class="row feature-blocks bg-gray justify-content-between">
                <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                  <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                  <h3 class="mb-xl-4 mb-lg-3 mb-4">Scholorship News</h3>
                  <p>Like international univerties, USA has created opportunities for students to work along with the studies. For 40% Scholarship, Students work for 15 hours a week. </p>
                </div>
                <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                  <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                  <h3 class="mb-xl-4 mb-lg-3 mb-4">Our Notice Board</h3>
                  <p>USA has provided an opportunity for new admission students to earn from the semester 1st and afford their fee and other expenses without any burden.Work from home at just one click at fiverr-do free lancing and earn upto 40k-50k per month.</p>
                </div>
                <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                  <i class="ti-agenda mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                  <h3 class="mb-xl-4 mb-lg-3 mb-4">Our Achievements</h3>
                  <p>Women's careers flourish in the conducive workforce of USA. Over 1620 female employees work in USA's equitable environment, and their contributions are highly honoured.</p>
                </div>
                <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                  <i class="ti-write mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                  <h3 class="mb-xl-4 mb-lg-3 mb-4">Admission Now</h3>
                  <p>Whether you're just starting your college career, transferring from another school, or pursuing graduate opportunities, USA gives you the tools you need to transform your world — and shape your future. Apply now !</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner-feature end -->

      <!-- courses -->
      <section class="section-sm">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center section-title justify-content-between">
                <h2 class="mb-0 text-nowrap mr-3">Our Course</h2>
                <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                <div>
                  <a href="/courses" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">see all</a>
                </div>
              </div>
            </div>
          </div>
          <!-- course list -->
          <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-5.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Computer Science</h4>
                  </a>
                  <p class="card-text mb-4">Computer science focuses on the development and testing of software and software systems.
                  </p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" height="284.2px" src="images/courses/course-2.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Information Technolgy</h4>
                  </a>
                  <p class="card-text mb-4">Information technology is a broad term that involves the use of technology to communicate and transfer data.</p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card p-0 border-primary rounded-0 hover-shadow">
                <img class="card-img-top rounded-0" src="images/courses/course-6.jpg" alt="course thumb">
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Architecture</h4>
                  </a>
                  <p class="card-text mb-4">Architecture, the art and technique of designing and building, from the skills associated with construction.
                  </p>
                  <a href="/admission" class="btn btn-primary btn-sm">Apply now</a>
                </div>
              </div>
            </div>
            <!-- mobile see all button -->
            <div class="row">
              <div class="col-12 text-center">
                <a href="/courses" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">see all</a>
              </div>
            </div>
          </div>
      </section>
      <!-- /courses end -->

      <!-- cta -->
      <section class="section bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h6 class="text-white font-secondary mb-0">Click to Join the Advance Workshop</h6>
              <h2 class="section-title text-white">Training In Advannce Networking</h2>
              <a href="/contact-us" class="btn btn-light">join now</a>
            </div>
          </div>
        </div>
      </section>
      <!-- /cta -->

      <!-- events -->
      <section class="section bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center section-title justify-content-between">
                <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
                <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                <div>
                  <a href="/events" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">see all</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-1.jpg" alt="event thumb">
                  <div class="card-date"><span>18</span><br>January</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">International Digital Conference - 2020</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-2.jpg" alt="event thumb">
                  <div class="card-date"><span>21</span><br>January</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">Marketing Strategies During Covid-19</h4>
                  </a>
                </div>
              </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="card border-0 rounded-0 hover-shadow eh">
                <div class="card-img position-relative">
                  <img class="card-img-top rounded-0" height="250px" src="images/events/event-3.jpg" alt="event thumb">
                  <div class="card-date"><span>23</span><br>January</div>
                </div>
                <div class="card-body">
                  <!-- location -->
                  <p><i class="ti-location-pin text-primary mr-2"></i>University of South Asia, Lahore</p>
                  <a href="#">
                    <h4 class="card-title">World Marketing Summit 2020</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- mobile see all button -->
          <div class="row">
            <div class="col-12 text-center">
              <a href="/events" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">see all</a>
            </div>
          </div>
        </div>
      </section>
      <!-- /events end -->
      <!-- include Footer  -->
      <%- include('../partials/front-inc/footer.ejs') %>
  </body>

</html>