<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/front-inc/head.ejs') %>

  <body>
    <!-- include header and nav -->
    <%- include('../partials/front-inc/nav.ejs') %>
      <!-- page title -->
      <section class="page-title-section overlay" data-background="images/backgrounds/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="list-inline custom-breadcrumb mb-2">
                <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/">Home</a></li>
                <li class="list-inline-item text-white h3 font-secondary nasted">Scholarship</li>
              </ul>
              <p class="text-lighten mb-0">90% scholarship is available for students with financial needs.Like
                international univerties, USA has created opportunities for students to work along with the studies. For
                40% Scholarship, Students work for 15 hours a week.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- page title end -->
      <!-- scholarship -->
      <section class="section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 mb-4 mb-md-0">
              <img class="w-100 h-100" src="images/scholarship/scholarship-1.jpg" alt="scholarship news">
            </div>
            <div class="col-md-6">
              <h2>SCHOLARSHIPS NEWS</h2>
              <strong class="mb-4 d-block"><i>Work Based Scholarship (WBS)</i></strong>
              <p>Like International Universities, USA has created opportunities for students to work.
                WBS is offered at Cantt Campus only.
                To get 30% WBS, students work for 10 hours & for 40%, they work for 15 hours a week.
                These students gain valuable work experience along with their practical studies.
                Through practical knowledge we engage our students in rewarding work activities.
                Creating student's income source becomes the responsibility of the University.
                Regular & Punctual students who do not manage to earn from 2nd year are exempted from paying their fee
                till they start to earn.
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <!-- scholarship item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                <img class="card-img-top rounded-0" height="263px" src="images/scholarship/scholarship-item-1.jpg"
                  alt="scholarship-thumb">
                <div class="card-body">
                  <p class="mb-1">Engineering</p>
                  <h4 class="card-title mb-3">COMPUTER SCIENCE</h4>
                  <ul class="list-styled">
                    <li>institutes</li>
                    <li>Smart-affiliated research</li>
                    <li>Digital Access to Scholarship</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- scholarship item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                <img class="card-img-top rounded-0" src="images/scholarship/scholarship-item-2.jpg"
                  alt="scholarship-thumb">
                <div class="card-body">
                  <p class="mb-1">Design & Arts</p>
                  <h4 class="card-title mb-3">MUSIC & ARTS</h4>
                  <ul class="list-styled">
                    <li>Smart Catalyst</li>
                    <li>Smart Library Portal</li>
                    <li>Smart research programs</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- scholarship item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                <img class="card-img-top rounded-0" src="images/scholarship/scholarship-item-3.jpg"
                  alt="scholarship-thumb">
                <div class="card-body">
                  <p class="mb-1">Design & Arts</p>
                  <h4 class="card-title mb-3">GRAPHICS DESIGN</h4>
                  <ul class="list-styled">
                    <li>institutes</li>
                    <li>Smart-affiliated research</li>
                    <li>Digital Access to Scholarship</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- scholarship end -->
      <!-- include footer  -->
      <%- include('../partials/front-inc/footer.ejs') %>
  </body>

</html>