<!-- Register Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="register">
                    <form id="registerform" onsubmit="return registerHandler()" method="post" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Full Name"
                                required autocomplete="name" autofocus>
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="email" name="email"
                                placeholder="Email Address" required autocomplete="email" autofocus>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="password" name="password"
                                placeholder="Create New Password" required autocomplete="new-password" autofocus>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="password_confirmation"
                                name="password_confirmation" placeholder="Confirm New Password" required
                                autocomplete="new-password" autofocus>
                        </div>
                        <div class="col-12 d-flex justify-content-center text-danger" id="error_response">
                            <% if(typeof message !=='undefined' ){ %>
                                <span class="invalid-feedback" role="alert">
                                    <strong>
                                        <%= message %>
                                    </strong>
                                </span>
                                <% } %>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <div class="d-inline">
                                <button type="submit" class="btn btn-primary">SIGN UP</button>
                            </div>
                            <div>
                                <a href="#loginModal" data-toggle="modal" class="d-inline" data-target="#loginModal"
                                    onclick="$('#signupModal').modal('hide')">Sign in instead</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function registerHandler() {
        event.preventDefault();
        $('#error_response').html('');
        let formData = $('#registerform').serializeArray();
        var formObject = {};
        for (var i = 0; i < formData.length; i++) {
            formObject[formData[i]['name']] = formData[i]['value'];
        }
        $.ajax({
            type: "POST",
            data: formObject,
            url: "/auth/register",
            success: function (msg) {
                if(msg.message){
                    $('#error_response').append(msg.message)
                }else{
                    window.localStorage.setItem('register', 1);
                    window.location.href = "/"
                }
            }
        })
        return true
    }
</script>