<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="/admin/admin-dashboard" title="USA Dashboard">
                <img class="brand-icon" src="/images/logo/logo.png" alt="logo" width="30" height="33"
                    viewBox="0 0 30 33">
                <span class="brand-name font-weight-bold text-uppercase text-truncate">USA Dashboard</span>
            </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="" data-simplebar style="height: 100%;">
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="has-sub active expand">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                        data-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="has-sub ">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app"
                        aria-expanded="false" aria-controls="app">
                        <i class="mdi mdi-pencil-box-multiple"></i>
                        <span class="nav-text">App</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse " id="app" data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li class="">
                                <a class="sidenav-item-link" href="/">
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/admin-admission-list">
                                    <span class="nav-text">Admission Foams</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/admin-team">
                                    <span class="nav-text">Team</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
                        aria-expanded="false" aria-controls="pages">
                        <i class="mdi mdi-image-filter-none"></i>
                        <span class="nav-text">User Information</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse " id="pages" data-parent="#sidebar-menu">
                        <div class="sub-menu ">
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/admin-profile">
                                    <span class="nav-text">User Profile</span>
                                </a>
                            </li>
                            <!-- <li class="has-sub ">
                                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                                    data-target="#authentication" aria-expanded="false" aria-controls="authentication">
                                    <span class="nav-text">Authentication</span> <b class="caret"></b>
                                </a>
                                <ul class="collapse " id="authentication">
                                    <div class="sub-menu">
                                        <li class="">
                                            <a href="/admin/admin-sign-up">Sign Up</a>
                                        </li>
                                    </div>
                                </ul>
                            </li> -->
                            <li class="has-sub ">
                                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                                    data-target="#others" aria-expanded="false" aria-controls="others">
                                    <span class="nav-text">Others</span> <b class="caret"></b>
                                </a>
                                <ul class="collapse " id="others">
                                    <div class="sub-menu">
                                        <li class="">
                                            <a href="/admin">404 Page</a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#maps"
                        aria-expanded="false" aria-controls="maps">
                        <i class="mdi mdi-google-maps"></i>
                        <span class="nav-text">Maps</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse " id="maps" data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/admin-map">
                                    <span class="nav-text">USA Maps</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>