<head>
    <!-- Basic Page Needs-->
    <meta charset="utf-8">
    <!-- Mobile Specific Metas-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction a website of reality walk of USA virtually">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Javeria Jibran Usama">
    <meta name="generator" content="UNIVERSITY OF SOUTHASIA |EMBEDED JAVASCRIPT Template v3.1.8">
    <!-- theme meta -->
    <meta name="USA Portal" content="REALITY WALK OF USA" />
    <title>USA - <%= title %></title>
    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="/plugins/venobox/venobox.css">
    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="/images/logo/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/logo/favicon.png" type="image/x-icon">
</head>